@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
body {
  font-family: 'Roboto Slab', serif;
  background-color: #242222;
  color: #06eeee; }
  body .title {
    color: white;
    font-weight: bold;
    background-color: #6c757d;
    border: 2px solid white; }
  body #seconds {
    color: white !important; }
  body #message {
    color: white; }
  body .instruction-ul {
    list-style: number;
    text-align: left;
    line-height: 1.5rem; }
  body .level-selector-container {
    list-style: none;
    margin-right: 2rem; }
    body .level-selector-container .bt {
      color: whitesmoke;
      margin: 0.5rem;
      background-color: #6c757d;
      padding: 0.4rem 0.5rem;
      width: 80%;
      border-radius: 10px;
      border: 2px solid white; }
    body .level-selector-container .bt:hover {
      background-color: #06eeee;
      scale: 1.1;
      transition: all 0.2s ease-in-out;
      border: 1px solid white;
      color: black; }
    body .level-selector-container .bt-selected {
      background-color: #06eeee;
      color: black; }
  body footer {
    max-width: 100%;
    padding: 1rem;
    text-align: center; }
